body {
	margin:0px;
	display: flex;
}

#left {
	width: 50%;	
}

#shirt-container {
	position:relative;
}

#shirt-container > img {
	max-width:500px;
}

#canvas {
	position:absolute;
	left:10px;
	top: 10px;
	border: 1px solid red;
}

